<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Note App</title>
  </head>
  <body class="bg-gray-900 text-white min-h-screen p-10">
    <div class="">
      <form class="flex flex-col bg-gray-800 p-8 rounded-lg shadow-md" action="/create" method="post">
        <input
          class="text-white bg-gray-700 p-5 rounded-md mb-4 focus:outline-none focus:ring-2 focus:ring-blue-500"
          type="text"
          name="title"
          placeholder="Title of your Note"
        />
        <textarea
          class="resize-none text-white bg-gray-700 p-5 rounded-md mb-4 focus:outline-none focus:ring-2 focus:ring-blue-500"
          placeholder="Content of your note ..."
          name="content"
          id=""
        ></textarea>
        <button
          class="text-white bg-blue-600 hover:bg-blue-700 p-2 rounded-md mt-3 transition duration-300"
          type="submit"
        >
          Add
        </button>
      </form>
    </div>
    <div class="task max-w-7xl  mt-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <% if(files.length > 0){ %> 
        <% files.forEach(function(val){ %>
          <div class="task p-6 bg-gray-800 rounded-md shadow-lg">
            <h1 class="text-2xl font-bold mb-2"><%= val %></h1>
            <div class="flex justify-between items-center mt-3  space-x-3">
              <a 
              href="/file/<%= val %>" 
              class="inline-block border border-white text-white py-2 px-4 rounded-md transition duration-300 hover:bg-white hover:text-gray-900"
            >
              Read More
            </a>
              <div class="flex gap-2">
                <a 
                href="/edit/<%= val %>" 
                class="text-yellow-500 transition duration-300 hover:text-yellow-300"
              >
                <i class="fas fa-edit"></i>
              </a>
              <form action="/delete/<%= val %>" method="POST" class="inline-block">
                <button 
                  type="submit"
                  class="text-red-500 transition duration-300 hover:text-red-300"
                >
                  <i class="fas fa-trash-alt"></i>
                </button>
              </form>
              </div>
            </div>
          </div>
        <% }) %> 
      <% } else { %>
        <div class="task col-span-full text-center text-gray-400">No Task Added</div>
      <% } %>
    </div>
  </body>
</html>
